/*首先要设置一些全局的东西，防止乱码所以要设置一些基本的字体*/
*{
    font-size: 12px;
    line-height: 24px;
    font-family: "微软雅黑";
    color: #3c3c3c;
}
body,div,li,ul,ol,h1{
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;/*去掉前面的符号*/
}
a{
    text-decoration: none;/*去掉下划线*/
}
header{
    width: 100%;
    border-bottom: 2px solid #00afc7;
}
.header_center{
    width: 1200px;
    margin: 0 auto;
    overflow:  hidden;
}
.header_logo{
    float: left;
}
.header_nav{
    float: right;
    overflow: hidden;
}
.person_nav{
    float: right;
    overflow: hidden;
    padding: 5px 0 7px 0;
}
.person_nav li{
    float:  left;
    padding: 0 10px;
    line-height: 12px;
    color: #000000;
    border-right: 1px solid #dddddd;
}
.html_nav{
    clear: both;/*因为上面已经浮动出来了，所以要清除浮动*/
    float: right;
    overflow: hidden;
}
.html_nav li{
    float: left;
    padding: 17px 10px 0 10px;
    line-height: 28px;
}
.html_nav li a{
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;/*加粗显示*/
}
.html_nav li a:hover{
    color: #00afc7;
}
/*最左侧菜单使用定位来实现*/
.account_nav_ad{
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;/*显示在最左侧菜单条的上面*/
}
.account_nav{
    position: fixed;/*固定定位*/
    top:0;
    left: 0;
    height: 100%;
    width: 34px;
    background: #4c6dd6;
}
.account_nav_vip{
    padding: 30px 0;
    width: 24px;
    margin: auto  ;
    margin-top: 200px;
}
.account_nav_center li,.account_nav_other li{
    padding: 4px 0;
    margin: 4px 0;
    line-height: 20px;
    color: #ffffff;
    font-family: "宋体";
    text-align: center;/*字体居中显示*/
}
.account_nav_center li img,.account_nav_other li img{
    margin: 4px auto;
    width: auto;
}
.account_nav_other{
    border: 0;
    margin-top: 300px;
}
